/* технический долг:
разобраться и переназначить где надо font-weight
проверить везде ли корректные размеры текста применяются
собрать все svg в один спрайт и подключить в начале body
организовать наследование цвету текста и пр. свойствам, например ссылкам, что бы не дублировать стили
*/

/* шрифты для проекта */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
        url("../fonts/Roboto.woff2") format("woff2"),
        url("../fonts/Roboto.woff") format("woff");
}

@font-face {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    src: local("Yeseva One"),
        url("../fonts/YesevaOne.woff2") format("woff2"),
        url("../fonts/YesevaOne.woff") format("woff");
}

/* глобальные стили */
body {
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* visually hidden - прятки элемента, но что бы скринридеры видели его */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

/* группа акцентируемых цветов*/
.accent__element--text {
    color: #A07B50;
}

.accent__element--border {
    border: 0.5px solid #A07B50;
}

h1, h2 {
    font-family: "Yeseva One", "Times New Roman", serif;
}

/* хедер сайта */
header {
    background-color: #181617;
}

.header__context-headline {
    font-size: 52px;
}

.header__context-btn {
    color: inherit;
    font-size: 14px;
    font-weight: 700;

    padding: 18px 35px;
}

/* тело сайта */
main {
    padding-top: 50px;

    background-color: #1F1C1D;
}

    /* Питомцы */
.catalog__headline {
    font-size: 36px;
}

.catalog__interpretation {
    font-weight: 300;
}

.catalog__form label {
    font-weight: 500;
}

.catalog__gallery-btn {
    display: none;
}

.catalog__watch-more-btn {
    color: inherit;
    font-size: 14px;
    font-weight: 700;

    padding: 18px 40px;
}

    /* Особенности породы */
.features__headline {
    font-size: 36px;
}

.features__interpretation {
    font-weight: 300;
}

.features__element {
    font-weight: 300;
}

.features__background-wrapper {
    background-image: url("../pictures/features_infographics.svg"), url("../pictures/features_cat.png");
    background-size: auto, auto;
    background-position: 50%, 50%;
    background-repeat: no-repeat, no-repeat;
}

.features__element {
    font-size: 14px;
}

    /* Почему именно мы */
.why-we {
    background-color: #151313;
}

.why-we__headline {
    font-size: 36px;
}

.why-we__interpretation {
    font-weight: 400;
}

.why-we__bonus-element p {
    font-weight: 300;
}

    /* Об уходе за Мейн-Куном */
.care__headline {
    font-size: 36px;
}

.care__element-headline {
    font-size: 22px;
    font-weight: 700;
}

.care__element-context {
    font-size: 14px;
    font-weight: 300;
}

    /* Наша команда */
.team {
    background-color: #151313;
}

.team__headline {
    font-size: 36px;
}

.team__person-headline {
    font-size: 24px;
    font-weight: 500;
}

.team__person-opinion {
    font-weight: 300;
}

    /* Вопрос - ответ */
.faq__headline {
    font-size: 36px;
}

.faq__element-index {
    font-size: 70px;
    font-weight: 700;
}

.faq__asked {
    font-weight: 500;
}

.faq__answer {
    font-weight: 300;
}

.faq__switcher--opened {
    background-color: #A07B50;
}

.faq__switcher--closed {
    background-color: transparent;
}

    /* Отзывы */
.feedback__headline {
    font-size: 36px;
}

.feedback__commentator-headline {
    font-size: 24px;
    font-weight: 500;
}

.feedback__commentator-opinion {
    font-size: 14px;
    font-weight: 300;
}

.feedback__date-feedback {
    font-size: 12px;
}

/* подвал сайта */
.footer {
    background-color: #151313;
}

.footer__contact-details {
    font-size: 14px;
}

.footer__tel {
    color: inherit;
    font-weight: 700;
}
