/* шрифты для проекта */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: 
        local("Roboto"),
        url("../fonts/Roboto.woff2") format("woff2"),
        url("../fonts/Roboto.woff") format("woff");
}

@font-face {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    src: 
        local("Yeseva One"),
        url("../fonts/YesevaOne.woff2") format("woff2"),
        url("../fonts/YesevaOne.woff") format("woff");
}

/* глобальные стили */
body {
    width: 100%;

    color: #FFFFFF;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1F1C1D;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* глобальные стили для социального блока / global styles for social block */
.social {
    font-size: 0;
    text-decoration: none;

    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}

.social__element-wrapper {
    padding: 5px;
}

.social__element {
    width: 15px;
    height: 15px;

    background-image: url("../pictures/social_all.svg");
    background-repeat: no-repeat;

    display: block;
}

.social__decorative-element {
    width: 1px;
    height: 77px;

    margin: 18px 50%;

    background-color: rgba(255, 255, 255, 0.5);

    display: block;
}

.social__element--vk {
    background-size: 65px;
    background-position: -51px -52px;
}

.social__element--tw {
    background-size: 70px;
    background-position: 1px -57px;
}

.social__element--fb {
    background-size: 65px;
    background-position: -25px -50px;
}

/* сокрытие элемента но оставляем его видимость для скринридеров */
.visually-hidden {
    width: 1px;
    height: 1px;

    margin: -1px;

    clip: rect(0 0 0 0);

    position: absolute;
}

/* media: desktop */
/* контейнер-выравниватель */
.align-container {
    width: 1366px;

    display: flex;
    flex-direction: column;
}

/* хедер сайта */
.header {
    background-color: #181617;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__wrapper-logo {
    padding: 34px 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    z-index: 1;
}

.header__logo:hover,
.header__logo:focus {
    transform: scale(-1, 1);

    animation: headerLogoShaking 0.1s;
}

@keyframes headerLogoShaking {
    0% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(15deg);
    }
}

.header__context-container {
    min-height: 553px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
}

.header__context-wrapper {
    margin: 55px 0 0 0;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    z-index: 1;
}

.header__context {
    width: 500px;

    padding: 1px 0 0 32px;
}

.header__context-wrapper .social {
    padding: 0 73px 58px 73px;

    flex-direction: column;
    justify-content: flex-end;
}

.header__context-wrapper .social__element--vk:hover {
    background-size: 65px;
    background-position: -51px 0;
}

.header__context-wrapper .social__element--vk:active {
    background-size: 65px;
    background-position: -51px -26px;
}

.header__context-wrapper .social__element--tw:hover {
    background-size: 70px;
    background-position: 1px -1px;
}

.header__context-wrapper .social__element--tw:active {
    background-size: 70px;
    background-position: 1px -29px;
}

.header__context-wrapper .social__element--fb:hover {
    background-size: 65px;
    background-position: -25px 2px;
}

.header__context-wrapper .social__element--fb:active {
    background-size: 65px;
    background-position: -25px -24px;
}

.header__context-city {
    color: #A07B50;

    margin: 0;
}

.header__context-headline {
    font-size: 52px;
    font-family: "Yeseva One", "Times New Roman", serif;
    font-weight: 400;

    margin: 22px 0 0 0;
    padding: 0 100px 0 0;
    box-sizing: border-box;
}

.header__context-interpretation {
    color: #A07B50;
    line-height: 24px;

    margin: 17px 0 0 0;
    padding: 0 200px 0 0;
    box-sizing: border-box;
}

.header__context-link-wrapper {
    margin: 49px 0 0 0;
}

.header__context-link {
    width: 200px;

    color: inherit;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    padding: 17px 0;

    display: block;

    border: 0.5px solid #A07B50;
}

.header__context-link:hover {
    color: #A07B50;

    box-shadow: 0 0 5px 1px #55412a;
}

.header__context-link:active {
    color: #55412a;

    border-color: #55412a;

    box-shadow: 0 0 10px 1px #55412a;
}

.header__context-image-wrapper {
    position: absolute;
    bottom: -4px;
    right: 0;
}

/* тело сайта */
.main {
    padding: 195px 0 0 0;

    background-color: #1F1C1D;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* питомцы */
.gallery {
    padding: 0 0 25px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__headline {
    width: 100%;

    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.gallery__interpretation {
    width: 100%;

    color: #A07B50;
    font-weight: 300;
    line-height: 26px;
    text-align: center;

    margin: -11px 0 0 0;
    padding: 0 420px;
    box-sizing: border-box;
}

.gallery__slider {
    padding: 43px 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__form {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery__form-element {
    font-size: 18px;
    font-weight: 500;

    margin: 0 10px;
    padding: 1px 15px;

    cursor: pointer;
}

.gallery__form-element:hover {
    color: rgba(255, 255, 255, 1);
}

.gallery__form-element:active {
    transform: scale(0.95);
}

.gallery__form-element--active {
    color: rgba(255, 255, 255, 0.75);
}

.gallery__form-element--deactive {
    color: rgba(255, 255, 255, 0.15);
}

.gallery__photos-block {
    width: 1100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery__photos-block-wrapper {
    width: 100%;
    min-height: 570px;

    position: relative;

    overflow: hidden;
}

.gallery__photo-wrapper {
    overflow: hidden;
}

.gallery__photo-wrapper--top {
    position: absolute;
    top: 44px;
    left: 30px;
}

.gallery__photo-wrapper--bottom {
    position: absolute;
    top: 288px;
    left: 14px;
}

.gallery__photo-wrapper--right {
    position: absolute;
    top: -7px;
    right: 8px;
}

.gallery__btn-previous,
.gallery__btn-following {
    display: none;
}

.gallery__watch-more-wrapper {
    width: 100%;

    margin: 16px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery__watch-more-link {
    width: 200px;

    color: inherit;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    padding: 17px 0;

    display: block;

    border: 0.5px solid #A07B50;
}

.gallery__watch-more-link:hover {
    color: #A07B50;

    box-shadow: 0 0 5px 1px #55412a;
}

.gallery__watch-more-link:active {
    color: #55412a;

    border-color: #55412a;

    box-shadow: 0 0 10px 1px #55412a;
}

/* особенности породы */
.features {
    padding: 27px 0 62px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__headline {
    width: 100%;
    text-align: center;

    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 36px;
    font-weight: 400;

    padding-left: 22px;
}

.features__interpretation {
    width: 100%;

    color: #A07B50;
    font-weight: 300;
    text-align: center;
    line-height: 26px;

    margin: -10px 0 0 0;
    padding: 0 300px;
    box-sizing: border-box;
}

.features__background-wrapper {
    width: 673px;
    min-height: 750px;

    background-image: url("../pictures/features_cat-picture.png");
    background-size: auto;
    background-position: 38px -61px;
    background-repeat: no-repeat;

    position: relative;
}

.features__list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.features__element {
    width: 300px;

    font-size: 16px;
    font-weight: 300;
    line-height: 23px;

    box-sizing: border-box;

    position: absolute;
}

.features__element:not(:nth-child(2n)) {
    text-align: right;
}

.features__element:nth-child(1) {
    font-size: 14px;
    line-height: 21px;

    padding: 0 0 0 50px;

    top: 208px;
    left: -241px;
}

.features__element:nth-child(2) {
    padding: 0 50px 0 0;

    top: 318px;
    right: -317px;
}

.features__element:nth-child(3) {
    padding: 0 0 0 70px;

    top: 494px;
    left: -261px;
}

.features__element:nth-child(4) {
    padding: 0 120px 0 0;

    top: 537px;
    right: -280px;
}

/* почему именно мы */
.why-we {
    width: 100%;

    padding: 55px 0 99px 0;

    background-color: #151313;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-we .align-container {
    align-items: center;
}

.why-we__headline {
    width: 100%;

    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.why-we__interpretation {
    width: 100%;

    color: #A07B50;
    font-weight: 400;
    text-align: center;

    margin: -6px 0 0 0;
}

.why-we__bonuses-list {
    list-style: none;

    margin: 51px 0 0 -13px;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.why-we__bonus-element {
    width: 360px;
    min-height: 301px;

    padding: 17px 20px;
    box-sizing: border-box;

    background-color: #1F1C1D;
}

.why-we__bonus-element:nth-child(2) {
    margin: 0 28px 0 40px;
}

.why-we__bonus-description-wrapper {
    width: 100%;
    height: 100%;

    border: 1px solid #1F1C1D;

    background-color: #1F1C1D;
    background-image: url("../pictures/why_we-elements.svg");
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.why-we__bonus-element:hover .why-we__bonus-description-wrapper {
    background-color: #A07B50;
}

.why-we__bonus-element:nth-child(1) .why-we__bonus-description-wrapper {
    background-position: 24px -42px;
    background-size: 1090px;
}

.why-we__bonus-element:nth-child(1):hover .why-we__bonus-description-wrapper {
    background-position: 25px -466px;
    background-size: 1090px;
}

.why-we__bonus-element:nth-child(2) .why-we__bonus-description-wrapper {
    background-position: -807px -37px;
    background-size: 1090px;
}

.why-we__bonus-element:nth-child(2):hover .why-we__bonus-description-wrapper {
    background-position: -810px -463px;
    background-size: 1090px;
}

.why-we__bonus-element:nth-child(3) .why-we__bonus-description-wrapper {
    background-position: -390px -40px;
    background-size: 1090px;
}

.why-we__bonus-element:nth-child(3):hover .why-we__bonus-description-wrapper {
    background-position: -390px -466px;
    background-size: 1090px;
}

.why-we__bonus-description {
    text-align: center;
    font-weight: 300;
    line-height: 26px;

    padding: 13px 35px;
    box-sizing: border-box;
}

/* об уходе за Мейн-Куном */
.care {
    min-height: 520px;

    padding: 55px 0 55px 0;

    background-image: url("../pictures/care_background.jpg");
    background-position: 0 -63px;
    background-repeat: no-repeat;
    background-size: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.care__headline {
    width: 100%;

    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.care__content-wrapper {
    width: 1157px;

    margin: 18px 0 0 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.care__element {
    width: 556px;

    margin: 0 0 42px 0;

    border: 0.5px solid #A07B50;

    display: flex;
    flex-direction: row;
}

.care__element-content-wrapper {
    min-height: 164px;

    background-color: rgba(0, 0, 0, 0.3);
}

.care__element-headline {
    color: #A07B50;
    font-size: 22px;
    font-weight: 700;

    margin: 36px 0 0 0;
    padding: 0 0 0 57px;
    box-sizing: border-box;
}

.care__element-context {
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;

    margin: 10px 20px 0 0;
    padding: 0 20px 0 57px;
    box-sizing: border-box;
}

.care__element-btn {
    min-width: 60px;
    height: auto;

    font-size: 0;

    background-color: #A07B50;
    background-image: url("../pictures/arrows.svg");
    background-position: -8px 34px;
    background-size: 600px auto;
    background-repeat: no-repeat;

    border: none;

    cursor: pointer;
}

.care__element-btn:hover {
    background-color: #55412a;
}

.care__element-btn:active {
    background-color: #55412a;
    background-position: -5px 38px;
    background-size: 550px auto;

    box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 0.5) inset;
}

/* наша команда */
.team {
    padding: 54px 0 72px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #151313;
}

.team .align-container {
    align-items: center;
}

.team__headline {
    width: 100%;

    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.team__interpretation {
    width: 100%;

    color: #A07B50;
    line-height: 25px;
    text-align: center;

    margin-top: -10px;
    padding: 0 430px;
    box-sizing: border-box;
}

.team__slider {
    width: 100%;

    margin: 10px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team__btn-previous,
.team__btn-following {
    width: 150px;

    font-size: 0;

    border: none;

    background-color: transparent;

    background-image: url("../pictures/arrows.svg");
    background-size: 1000px auto;
    background-repeat: no-repeat;

    cursor: pointer;
}

.team__btn-previous {
    background-position: -158px -113px;
}

.team__btn-following {
    background-position: -162px 122px;
}

.team__btn-previous:hover,
.team__btn-following:hover {
    transform: scale(1.2);
}

.team__btn-previous:active,
.team__btn-following:active {
    transform: scale(0.8);
}

.team__person {
    width: 1025px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team__person-photo-wrapper {
    position: relative;
    top: -1px;
    left: 53px;
}

.team__person-info {
    width: 659px;

    padding: 21px 32px 22px 25px;
    box-sizing: border-box;

    background-color: transparent;

    border: 0.5px solid rgba(160, 123, 80, 0.43);
}

.team__inter-wrapper {
    padding: 69px 80px 67px 98px;

    background-color: #1F1C1D;

    display: flex;
    flex-direction: column;
}

.team__person-headline {
    color: #A07B50;
    font-size: 24px;
    font-weight: 500;

    margin: 0;
}

.team__person-rank {
    color: #A07B50;
    
    margin-top: 9px;
}

.team__person-opinion {
    font-weight: 300;
    line-height: 24px;

    margin-top: 26px;
}

.team__inter-wrapper .social {
    margin: 27px 0 0 -6px;
}

.team__inter-wrapper .social__element--fb {
    width: 11px;

    background-size: 70px;
    background-position: -30px -56px;
}

.team__inter-wrapper .social__element--fb:hover {
    background-position: -30px 0;
}

.team__inter-wrapper .social__element--fb:active {
    background-position: -30px -28px;
}

.team__inter-wrapper .social__element--tw {
    width: 17px;

    background-size: 90px;
    background-position: -2px -75px;
}

.team__inter-wrapper .social__element--tw:hover {
    background-position: -2px -3px;
}

.team__inter-wrapper .social__element--tw:active {
    background-position: -2px -39px;
}

.team__inter-wrapper .social__element--vk {
    width: 20px;

    background-size: 90px;
    background-position: -72px -75px;
}

.team__inter-wrapper .social__element--vk:hover {
    background-position: -72px -3px;
}

.team__inter-wrapper .social__element--vk:active {
    background-position: -72px -39px;
}

/* вопрос - ответ */
.faq {
    padding: 44px 0 25px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq__headline {
    width: 100%;

    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.faq__interpretation {
    width: 100%;

    color: #A07B50;
    text-align: center;

    margin-top: -6px;
}

.faq__list {
    width: 926px;

    list-style: none;

    margin: 42px 0 0 0;
    padding: 0;
}

.faq__element {
    margin: 0 0 36px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq__element-index {
    color: #A07B50;
    font-size: 70px;
    font-weight: 700;

    padding: 16px 0 0 20px;

    flex-grow: 1;
}

.faq__element-context {
    width: 790px;

    border: 0.5px solid rgba(160, 123, 80, 0.4);
}

.faq__asked-block {
    border-bottom: 0.5px solid rgba(160, 123, 80, 0.4);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.faq__asked {
    width: 100%;

    font-weight: 500;

    margin: 0;
    padding: 3px 0 0 42px;
    box-sizing: border-box;
}

.faq__switcher {
    width: 115px;
    height: 108px;

    font-size: 0;

    border: none;
    border-left: 0.5px solid rgba(160, 123, 80, 0.4);

    background-color: transparent;

    background-size: 120px;
    background-repeat: no-repeat;

    cursor: pointer;
}

.faq__switcher--opened {
    background-color: #A07B50;

    background-image: url("../pictures/faq-elements.svg");
    background-position: -32px -31px;
}

.faq__switcher--opened:hover {
    background-color: #55412a;
}

.faq__switcher--opened:active {
    background-color: #55412a;
    box-shadow: 0 0 10px 1px #000000 inset;
}

.faq__switcher--closed {
    background-color: transparent;
    background-image: url("../pictures/faq-elements.svg");
    background-position: 37px 44px;
}

.faq__switcher--closed:hover {
    background-color: #A07B50;
    background-position: 37px -31px;
}

.faq__switcher--closed:active {
    background-color: #55412a;
    background-position: 37px -31px;

    box-shadow: 0 0 10px 1px #000000 inset;
}

.faq__answer {
    font-weight: 300;
    line-height: 25px;

    padding: 20px 190px 18px 44px;
    box-sizing: border-box;
}

.faq__answer p {
    margin-bottom: 22px;
}

/* отзывы */
.feedback {
    padding: 1px 0 112px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__headline {
    width: 100%;

    font-family: "Yeseva One", "Times New Roman", serif;
    font-size: 36px;
    text-align: center;
}

.feedback__slider {
    width: 1074px;

    padding: 30px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: relative;
}

.feedback__btn-previous,
.feedback__btn-following {
    display: none;
}

.feedback__commentator {
    width: 640px;

    margin: 0;
    padding: 85px 85px 95px 145px;
    box-sizing: border-box;
    
    background-color: #151313;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback__commentator-photo {
    position: absolute;
    top: 76px;
    left: 53px;

    z-index: 1;
}

.feedback__commentator-info {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.feedback__commentator-headline {
    font-size: 24px;
    font-weight: 500;
}

.feedback__commentator-opinion {
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;

    margin-top: -10px;
}

.feedback__additional-info {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.feedback__date-feedback {
    color: #A07B50;
    font-size: 12px;

    margin-right: 33px;
}

.feedback__additional-info .social__element {
    width: 25px;
    height: 25px;

    border: 0.5px solid rgba(160, 123, 80, 0.27);

    display: block;
}

.feedback__additional-info .social__element:active {
    transform: scale(0.9);
}

.feedback__additional-info .social__element-wrapper:not(:last-child) {
    margin-right: 8px;
}

.feedback__additional-info .social__element--tw {
    background-size: 70px;
    background-position: 5px 4px;
}

.feedback__additional-info .social__element--tw:hover {
    background-position: 5px -24px;
}

.feedback__additional-info .social__element--vk {
    background-size: 70px;
    background-position: -50px 5px;
}

.feedback__additional-info .social__element--vk:hover {
    background-position: -50px -23px;
}

/* подвал сайта */
.footer {
    padding: 69px 0 54px 0;

    background-color: #151313;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer .align-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer .footer__logo,
.footer .social,
.footer .footer__contact-details {
    position: relative;
}

.footer__logo {
    top: -1px;
    left: 109px;
}

.footer__logo:hover,
.footer__logo:focus {
    transform: scale(-1, 1);

    animation: headerLogoShaking 0.1s;
}

@keyframes headerLogoShaking {
    0% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(15deg);
    }
}

.footer .social {
    top: 0;
    left: -42px;
}

.footer .social__element {
    width: 19px;
    height: 19px;

    margin: 0;
}

.footer .social__element:active {
    transform: scale(0.8);
}

.footer .social__element--vk {
    background-size: 92px;
    background-position: -74px -2px;
}

.footer .social__element--vk:hover {
    background-size: 92px;
    background-position: -74px -39px;
}

.footer .social__element--tw {
    background-size: 96px;
    background-position: -1px -2px;
}

.footer .social__element--tw:hover {
    background-size: 96px;
    background-position: -1px -41px;
}

.footer .social__element--fb {
    background-size: 80px;
    background-position: -26px 1px;
}

.footer .social__element--fb:hover {
    background-size: 80px;
    background-position: -26px -31px;
}

.footer__contact-details {
    font-size: 14px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    left: -148px;
}

.footer__adress {
    margin: 0;
}

.footer__tel {
    color: inherit;
    font-weight: 700;

    margin: 2px 0 0 69px;
}

.footer__tel:hover {
    color: #A07B50;
}

.footer__tel:active {
    color: #55412a;
}

@media (max-width: 768px) {
    .align-container {
        width: 768px;
    }

    /* хедер сайта */
    .header__wrapper-logo {
        padding: 15px 0;
    }

    .header__context-container {
        min-height: 448px;
    }
    
    .header__context-wrapper {
        flex-direction: column;
    }
    
    .header__context {
        width: 375px;

        padding: 2px 0 0 42px;
    }
    
    .header__context-wrapper .social {
        padding: 52px 0 40px 25px;

        flex-direction: row;
        justify-content: flex-start;
    }

    .header__context-wrapper .social__decorative-element {
        display: none;
    }

    .header__context-headline {
        padding: 0;
    }

    .header__context-interpretation {
        margin: 19px 0 0 0;
        padding: 0 40px 0 0;
    }

    .header__context-link-wrapper {
        margin: 49px 0 0 0;
    }

    .header__context-link {
        margin: 50px 0 0 0;
        padding: 18px 0 17px 0;
    }

    .header__context-image-wrapper {
        bottom: -5px;
    }

    /* тело сайта */
    .main {
        padding: 73px 0 0 0;
    }
    
    /* питомцы */
    .gallery {
        padding: 0;
    }

    .gallery__interpretation {
        margin: -10px 0 0 0;
        padding: 0 100px;
    }

    .gallery__slider {
        padding: 44px 0 2px 0;
    }

    .gallery__form-element:active {
        transform: scale(0.85);
    }

    .gallery__photos-block {
        width: 768px;

        align-items: center;
    }

    .gallery__photo-wrapper--top {
        top: 189px;
        right: 35px;
        left: auto;
    }
    
    .gallery__photo-wrapper--bottom {
        top: 188px;
        left: 8px;
    }
    
    .gallery__photo-wrapper--right {
        top: 39px;
        right: 98px;
    }

    .gallery__btn-previous,
    .gallery__btn-following {
        width: 70px;
        height: 400px;

        font-size: 0;

        border: none;

        background-color: transparent;
        background-image: url("../pictures/arrows.svg");
        background-repeat: no-repeat;
        background-size: 1000px;

        display: block;

        cursor: pointer;
    }

    .gallery__btn-previous:hover,
    .gallery__btn-following:hover {
        transform: scale(1.15);
    }

    .gallery__btn-previous:active,
    .gallery__btn-following:active {
        transform: scale(0.85);
    }

    .gallery__btn-previous {
        background-position: -200px -108px;
    }

    .gallery__btn-following {
        background-position: -209px 127px;
    }

    .gallery__watch-more-wrapper {
        margin: 17px 0 0 0;
    }
    
    .gallery__watch-more-link {
        width: 198px;
    }

    /* особенности породы */
    .features {
        padding: 63px 0 0 0;
    }

    .features__headline {
        padding: 0;
    }

    .features__interpretation {
        margin: -8px 0 0 0;
        padding: 0 150px;
    }

    .features__background-wrapper {
        width: 100%;
        min-height: 600px;

        background-image: url("../pictures/features_cat-picture-table.png");
        background-size: auto;
        background-position: 179px -10px;
    }

    .features__element {
        width: 150px;
    }

    .features__element:nth-child(1) {
        padding: 0;

        top: 171px;
        left: 42px;
    }
    
    .features__element:nth-child(2) {
        padding: 0;

        top: 245px;
        right: 10px;
    }
    
    .features__element:nth-child(3) {
        padding: 0;

        top: 363px;
        left: 31px;
    }
    
    .features__element:nth-child(4) {
        padding: 0 30px 0 0;

        top: 392px;
        right: 35px;
    }

    /* почему именно мы */
    .why-we {
        padding: 57px 0 102px 0;
    }

    .why-we__interpretation {
        margin: -5px 0 0 0;
    }

    .why-we__bonuses-list {
        padding: 11px 0 0 0;

        flex-direction: column;
        align-items: center;
    }

    .why-we__bonus-element {
        min-height: 306px;
    }

    .why-we__bonus-element:nth-child(1n):not(:last-child) {
        margin: 0 0 42px 0;
    }

    .why-we__bonus-description-wrapper {
        min-height: 272px;
    }

    .why-we__bonus-element:nth-child(1) .why-we__bonus-description-wrapper {
        background-position: 23px -40px;
        background-size: 1100px;
    }

    .why-we__bonus-element:nth-child(1):hover .why-we__bonus-description-wrapper {
        background-position: 24px -468px;
        background-size: 1100px;
    }

    .why-we__bonus-element:nth-child(2) .why-we__bonus-description-wrapper {
        background-position: -814px -36px;
        background-size: 1100px;
    }

    .why-we__bonus-element:nth-child(2):hover .why-we__bonus-description-wrapper {
        background-position: -818px -466px;
        background-size: 1100px;
    }

    .why-we__bonus-element:nth-child(3) .why-we__bonus-description-wrapper {
        background-position: -394px -36px;
        background-size: 1100px;
    }

    .why-we__bonus-element:nth-child(3):hover .why-we__bonus-description-wrapper {
        background-position: -394px -466px;
        background-size: 1100px;
    }

    /* об уходе за Мейн-Куном */
    .care {
        padding: 62px 0 75px 0;

        background-position: -682px -100px;
        background-size: auto 1136px;
    }

    .care__content-wrapper {
        width: 100%;

        margin: 7px 0 0 0;

        flex-direction: column;
        align-content: center;
    }

    .care__element {
        margin: 0 0 22px 18px;
    }

    .care__element-content-wrapper {
        min-height: 168px;
    }

    .care__element-headline {
        margin: 38px 0 0 0;
        padding: 0 0 0 47px;
    }

    .care__element-context {
        margin: 10px 0 0 0;
        padding: 0 47px;
    }

    /* наша команда */
    .team {
        padding: 56px 0 193px 0;
    }

    .team__interpretation {
        margin: -8px 0 0 0;
        padding: 0 130px;
    }
    
    .team__slider {
        position: relative;
    }

    .team__btn-previous,
    .team__btn-following {
        width: 30px;
        min-height: 50px;

        position: absolute;
    }

    .team__btn-previous {
        background-position: -220px -287px;

        top: 482px;
        left: 382px;
    }

    .team__btn-following {
        background-position: -218px -52px;

        top: 482px;
        left: 656px;
    }

    .team__person {
        justify-content: center;

        position: relative;
    }

    .team__person-photo-wrapper {
        position: absolute;
        top: 313px;
        left: 431px;
    }

    .team__person-info {
        width: 649px;

        margin: 16px 26px 0 0;
        padding: 23px;
    }

    .team__inter-wrapper {
        padding-bottom: 68px;
    }

    .team__person-headline {
        margin: 3px 0 0 0;
        padding: 0 0 0 9px;
        box-sizing: border-box;
    }

    .team__person-rank {
        padding: 0 0 0 9px;
        box-sizing: border-box;
    }
    
    .team__person-opinion {
        padding: 0 0 0 9px;
        box-sizing: border-box;
    }

    .team__inter-wrapper .social {
        margin: 30px 0 0 0;
        padding: 0 0 0 2px;
    }

    /* вопрос-ответ */
    .faq {
        padding: 108px 0 0 0;
    }
    
    .faq__interpretation {
        margin-top: -8px;
    }
    
    .faq__list {
        width: 655px;

        margin-top: 39px;
    }

    .faq__element {
        margin: 0 0 22px 0;
    }
    
    .faq__element-index {
        font-size: 50px;

        padding: 11px 23px 0 23px;

        flex-grow: 0;
    }
    
    .faq__element-context {
        width: 100%;
    }
    
    .faq__asked {
        line-height: 20px;

        padding: 8px 59px 0 29px;
    }
    
    .faq__switcher {
        width: 81px;
        height: 76px;

        background-size: 100px;
    }

    .faq__switcher--opened {
        background-position: -34px -35px;
    }
    
    .faq__switcher--closed {
        background-position: 26px 29px;
    }

    .faq__switcher--closed:hover {
        background-position: 26px -34px;
    }

    .faq__switcher--closed:active {
        background-position: 26px -34px;
    }
    
    .faq__answer {
        padding: 9px 135px 2px 30px;
    }

    /* отзывы */
    .feedback {
        padding: 33px 0 55px 0;
    }

    .feedback__headline {
        font-weight: 400;
    }
    
    .feedback__slider {
        width: 100%;

        padding: 31px 0 32px 0;

        justify-content: center;
    }
    
    .feedback__btn-previous,
    .feedback__btn-following {
        width: 110px;
        height: 50px;

        font-size: 0;
    
        background-image: url("../pictures/arrows.svg");
        background-size: 1000px;
        background-repeat: no-repeat;
    
        background-color: transparent;
        
        border: none;

        display: block;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        cursor: pointer;
    }

    .feedback__btn-previous {
        background-position: -336px -52px;

        top: 135px;
        left: 552px;
    }

    .feedback__btn-previous:hover {
        transform: scale(1.2);
    }

    .feedback__btn-previous:active {
        transform: scale(1.3);
        left: 572px;
    }

    .feedback__btn-following {
        background-position: -335px -285px;

        top: 135px;
        left: 128px;
    }

    .feedback__btn-following:hover {
        transform: scale(1.2);
    }

    .feedback__btn-following:active {
        transform: scale(1.3);
        left: 108px;
    }
    
    .feedback__commentator {
        width: 578px;

        margin: 84px 0 0 15px;
        padding: 124px 0 29px 0;

        justify-content: center;

        position: relative;
    }
    
    .feedback__commentator-photo {
        top: -95px;
        left: 138px;
    }
    
    .feedback__commentator-info {
        width: 100%;

        text-align: center;
    }

    .feedback__commentator-opinion {
        padding: 0 110px;
        box-sizing: border-box;
    }
    
    .feedback__additional-info {
        margin-top: 7px;

        justify-content: center;
    }
        
    .feedback__date-feedback {
        margin: 0 28px 0 30px;;
    }

    .feedback__additional-info .social {
        padding: 0 0 0 5px;
        box-sizing: border-box;
    }

    /* подвал сайта */
    .footer {
        padding: 33px 0 54px 0;
    }
    
    .footer .align-container {
        padding: 0 40px;
        box-sizing: border-box;

        justify-content: space-between;
    }
    
    .footer .footer__logo,
    .footer .social,
    .footer .footer__contact-details {
        position: static;
    }

    .footer .social {
        position: relative;
        top: 2px;
        left: -3px;
    }
    
    .footer__logo {
        display: none;
    }
 
    .footer__tel {
        margin: 0 11px 0 85px;
    }
}

@media (max-width: 320px) {
    .align-container {
        width: 320px;
    }

    /* хедер сайта */
    .header__wrapper-logo {
        padding: 12px 0;
    }

    .header__context-container {
        min-height: 530px;

        flex-direction: column;
    }

    .header__context-wrapper {
        margin: 7px 0 0 0;
    }
    
    .header__context {
        width: 100%;

        padding: 10px 0 0 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .header__context-city {
        width: 100%;

        font-size: 14px;
        text-align: center;
    }

    .header__context-headline {
        font-size: 36px;
        text-align: center;

        margin: 8px 0 0 0;
    }
    
    .header__context-wrapper .social {
        display: none;
    }

    .header__context-interpretation {
        font-size: 14px;
        line-height: 20px;
        text-align: center;

        margin: 17px 0 0 0;
        padding: 0 18px;
    }

    .header__context div {
        width: 100%;

        margin: 35px 0 0 0;
    }

    .header__context-link-wrapper {
        margin: 49px 0 0 0;
    }

    .header__context-link {
        width: 140px;

        font-size: 12px;

        margin: 0 auto;
        padding: 12px 0;
    }

    .header__context-image-wrapper {
        position: relative;
        bottom: 0;
    }

    .header__context-image {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
    }

    /* тело сайта */
    .main {
        padding: 32px 0 0 0;
    }
    
    /* питомцы */
    .gallery {
        padding: 0 0 50px 0;
    }

    .gallery__headline {
        font-size: 28px;
    }

    .gallery__interpretation {
        font-size: 14px;
        line-height: 20px;

        margin: -1px 0 0 0;
        padding: 0 15px;
    }

    .gallery__slider {
        padding: 30px 0 0 0;
    }

    .gallery__form {
        margin: 0;
    }

    .gallery__form-element {
        font-size: 16px;

        padding: 1px 11px;
    }

    .gallery__photos-block-wrapper {
        width: auto;
        min-height: auto;

        position: static;
    }

    .gallery__photo-wrapper--top {
        display: none;
    }
    
    .gallery__photo-wrapper--bottom {
        display: none;
    }
    
    .gallery__photo-wrapper--right {
        margin-top: 34px;

        position: static;
    }

    .gallery__btn-previous,
    .gallery__btn-following {
        height: 200px;

        background-size: 600px;
    }

    .gallery__btn-previous {
        background-position: -94px -72px;
    }

    .gallery__btn-previous:hover {
        background-position: -94px -73px;
    }

    .gallery__btn-previous:active {
        background-position: -94px -69px;
    }

    .gallery__btn-following {
        background-position: -117px 69px;
    }

    .gallery__btn-following:hover {
        background-position: -117px 67px;
    }

    .gallery__btn-following:active {
        background-position: -117px 71px;
    }

    .gallery__watch-more-wrapper {
        margin: 42px 0 0 0;
    }

    .gallery__watch-more-link {
        width: 139px;

        font-size: 12px;
        text-align: center;

        padding: 12px 0;
    }

    /* особенности породы */
    .features {
        padding: 0 0 52px 0;
    }

    .features__headline {
        font-size: 28px;

        margin: 5px 0 0 0;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .features__interpretation {
        font-size: 14px;
        line-height: 20px;

        margin: 22px 0 0 0;
        padding: 0 20px;
    }

    .features__background-wrapper {
        min-height: 565px;

        background-image: url("../pictures/features_cat-picture-mobile.png");
        background-position: 50% 24px;
        background-size: 280px 304px;

        position: static;

        display: flex;
    }

    .features__list {
        align-self: flex-end;
    }

    .features__list .features__element {
        width: 100%;

        font-size: 14px;
        line-height: 20px;
        text-align: left;

        padding: 0 25px 0 32px;

        position: relative;
        top: 0;
        left: 0;
    }

    .features__list .features__element:nth-child(1n):not(:last-child) {
        margin-bottom: 20px;
    }

    .features__list .features__element::before {
        width: 8px;
        height: 8px;

        content: "";

        background-color: #A07B50;

        border: 1px solid #A07B50;
        border-radius: 50%;

        position: absolute;
        top: 2px;
        left: 14px;
    }

    /* почему именно мы */
    .why-we {
        padding: 31px 0 60px 0;
    }

    .why-we__headline {
        font-size: 28px;

        padding: 0 50px;
        box-sizing: border-box;
    }

    .why-we__interpretation {
        font-size: 14px;
        line-height: 18px;

        margin: 2px 0 0 0;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .why-we__bonuses-list {
        margin: 36px 0 0 0;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .why-we__bonuses-list .why-we__bonus-element {
        width: 100%;
        min-height: 248px;

        margin: 0;
        padding: 14px 16px;
        box-sizing: border-box;
    }

    .why-we__bonuses-list .why-we__bonus-element:not(:last-child) {
        margin-bottom: 30px;
    }

    .why-we__bonus-description-wrapper {
        min-height: 218px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .why-we__bonus-element:nth-child(1) .why-we__bonus-description-wrapper {
        background-position: 18px -30px;
        background-size: 880px;
    }

    .why-we__bonus-element:nth-child(1):hover .why-we__bonus-description-wrapper {
        background-position: 19px -372px;
        background-size: 880px;
    }

    .why-we__bonus-element:nth-child(2) .why-we__bonus-description-wrapper {
        background-position: -591px -16px;
        background-size: 810px;
    }

    .why-we__bonus-element:nth-child(2):hover .why-we__bonus-description-wrapper {
        background-position: -594px -332px;
        background-size: 810px;
    }

    .why-we__bonus-element:nth-child(3) .why-we__bonus-description-wrapper {
        background-position: -315px -29px;
        background-size: 880px;
    }

    .why-we__bonus-element:nth-child(3):hover .why-we__bonus-description-wrapper {
        background-position: -315px -373px;
        background-size: 880px;
    }

    .why-we__bonus-description {
        font-size: 14px;
        line-height: 20px;
        
        margin-top: 123px;
        padding: 0 20px;
    }

    .why-we__bonus-element:nth-child(2) .why-we__bonus-description {
        margin-top: 108px;
    }

    /* об уходе за Мейн-Куном */
    .care {
        padding: 32px 0 33px 0;
    }

    .care__headline {
        font-size: 28px;

        padding: 0 30px;
        box-sizing: border-box;
    }

    .care__headline span {
        display: block;
    }

    .care__content-wrapper {
        margin: 0;
        padding: 9px 0 0 0;
    }

    .care__element {
        width: 290px;
        min-height: 150px;

        margin: 0;
    }

    .care__content-wrapper .care__element {
        margin: 0 0 30px 0;
    }

    .care__element-content-wrapper {
        min-height: auto;

        padding: 21px 0 15px 25px;
        box-sizing: border-box;
    }

    .care__element-headline {
        font-size: 18px;

        margin: 0;
        padding: 0;
    }

    .care__element-context {
        line-height: 20px;

        margin: 0;
        padding: 12px 0 0 0;
    }

    .care__element:nth-child(2) .care__element-context {
        padding-right: 20px;
    }

    .care__element-btn {
        min-width: 46px;

        background-position: -19px 35px;
    }

    /* наша команда */
    .team {
        padding: 30px 0 58px 0;
    }

    .team__headline {
        font-size: 28px;
    }

    .team__interpretation {
        font-size: 14px;
        line-height: 20px;

        margin: 0;
        padding: 0 30px;
    }
    
    .team__slider {
        margin: 0;

        position: static;
    }

    .team__btn-previous,
    .team__btn-following {
        min-width: 40px;
        height: 126px;

        background-size: 600px;

        position: relative;
        top: 33px;
        left: 0;
        right: 0;

        z-index: 1;
    }

    .team__btn-previous {
        background-position: -310px -124px;

        left: 80px;
    }

    .team__btn-previous:hover {
        transform: scale(1.3);
    }

    .team__btn-previous:active {
        transform: scale(0.85);
    }

    .team__btn-following {
        background-position: -314px 17px;

        left: -80px;
    }

    .team__btn-following:hover {
        transform: scale(1.3);
    }

    .team__btn-following:active {
        transform: scale(0.85);
    }

    .team__person {
        width: 100%;

        flex-direction: column;
        align-items: center;
    }

    .team__person-photo-wrapper {
        top: 34px;
        left: 82px;
    }

    .team__person-info {
        width: 290px;

        margin: 96px 0 0 0;
        padding: 0;
    }

    .team__inter-wrapper {
        text-align: center;

        padding: 85px 0 10px 0;
        margin: 0;
    }

    .team__person-headline {
        font-size: 18px;

        margin: 0;
        padding: 0;
    }

    .team__person-rank,
    .team__person-opinion {
        font-size: 14px;

        padding: 0;
    }

    .team__person-rank {
        margin: 6px 0 0 0;
    }

    .team__person-opinion {
        line-height: 20px;

        margin: 17px 0 0 0;
    }

    .team__inter-wrapper .social {
        justify-content: center;

        margin: 17px 0 0 0;
    }

    .social__element-wrapper {
        margin: 0 1px;
    }

    /* вопрос-ответ */
    .faq {
        padding: 32px 0 8px 0;
    }

    .faq__headline {
        font-size: 28px;
    }
    
    .faq__interpretation {
        font-size: 14px;
        line-height: 20px;

        margin: 0;
        padding: 0 50px;
        box-sizing: border-box;
    }
    
    .faq__list {
        width: 100%;

        font-size: 14px;

        margin: 0;
        padding: 34px 15px 0 15px;
        box-sizing: border-box;
    }
    
    .faq__element:not(:last-child) {
        margin: 0 0 29px 0;
    }

    .faq__element-index {
        display: none;
    }
    
    .faq__asked-block {
        min-height: 43px;

        padding: 0;

        align-items: stretch;
    }
    
    .faq__asked {
        padding: 10px 10px 8px 14px;
    }
    
    .faq__switcher {
        width: 49px;
        height: auto;

        display: block;
    }

    .faq__switcher--opened {
        background-position: -48px -44px;
    }
    
    .faq__switcher--closed {
        background-position: 12px 12px;
    }

    .faq__switcher--closed:hover {
        background-position: 12px -50px;
    }

    .faq__switcher--closed:active {
        background-position: 12px -50px;
    }
    
    .faq__answer {
        line-height: 19px;

        padding: 12px 15px 10px 14px;
    }

    .faq__answer p {
        margin: 0;
    }

    .faq__answer p:not(:first-child) {
        margin-top: 15px;
    }

    /* отзывы */
    .feedback {
        padding: 0;
    }

    .feedback__headline {
        font-size: 28px;
    }
    
    .feedback__slider {
        padding: 112px 0 60px 0;

        position: static;
    }
    
    .feedback__btn-previous,
    .feedback__btn-following {
        min-width: 30px;
        height: 166px;

        background-image: url("../pictures/arrows.svg");
        background-size: 600px;

        position: relative;
        top: -83px;
        left: 0;
    }

    .feedback__btn-previous {
        background-position: -320px -104px;

        left: 22px;
    }

    .feedback__btn-previous:hover {
        background-position: -318px -104px;

        transform: scale(1.3);
    }

    .feedback__btn-previous:active {
        background-position: -322px -104px;

        transform: scale(0.85);

        left: 22px;
    }

    .feedback__btn-following {
        background-position: -313px 36px;

        right: 22px;
        left: auto;
    }

    .feedback__btn-following:hover {
        background-position: -314px 36px;

        transform: scale(1.3);
    }

    .feedback__btn-following:active {
        background-position: -310px 36px;

        transform: scale(0.85);

        left: auto;
        right: 22px;
    }
    
    .feedback__commentator {
        width: 100%;

        margin: 0;
        padding: 0;

        position: static;
    }
        
    .feedback__commentator-info {
        width: 290px;

        padding: 98px 0 35px 0;

        position: relative;
        top: 0;
        left: 0;
    }

    .feedback__commentator-photo {
        top: -83px;
        left: 24px;
    }

    .feedback__commentator-headline {
        font-size: 18px;
    }
    
    .feedback__commentator-opinion {
        line-height: 19px;

        margin: 0;
        padding: 0 25px;
    }
    
    .feedback__additional-info {
        margin: 17px 0 0 0;
        padding: 0;
    }
    
    .feedback__date-feedback {
        margin: 0;
        padding: 0 15px 0 10px;
    }

    .feedback .social {
        padding: 0 5px 0 18px;
    }

    .feedback__additional-info .social__element-wrapper:not(:last-child) {
        margin-right: 3px;
    }

    .feedback__additional-info .social__element:active {
        transform: scale(0.8);
    }

    /* подвал сайта */
    .footer {
        padding: 36px 0 36px 0;
    }
    
    .footer .align-container {
        padding: 2px 0 0 0;

        flex-direction: column-reverse;
    }

    .footer .footer__contact-details {
        width: 100%;

        flex-direction: column;
    }
    
    .footer__tel {
        font-weight: 400;

        margin: 0;
        padding: 15px 0;
    }
    
    .footer .social {
        width: 100%;

        padding: 0 110px 0 100px;
        box-sizing: border-box;

        justify-content: space-around;

        position: relative;
        top: -5px;
        left: 0;
    }

    .footer .social__element {
        width: 27px;
        height: 27px;
    }

    .footer .social__element--vk {
        background-size: 120px;
        background-position: -95px -1px;
    }

    .footer .social__element--vk:hover {
        background-size: 120px;
        background-position: -95px -49px;
    }

    .footer .social__element--tw {
        background-size: 120px;
        background-position: -3px -2px;
    }
    
    .footer .social__element--tw:hover {
        background-size: 120px;
        background-position: -3px -50px;
    }

    .footer .social__element--fb {
        background-size: 80px;
        background-position: -26px 6px;
    }
    
    .footer .social__element--fb:hover {
        background-size: 80px;
        background-position: -26px -26px;
    }
    
    .footer__logo {
        width: 100%;

        text-align: center;

        padding: 11px 0 21px 0;

        display: block;
    }
}
